 <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row main_header_error_body" >
                  
                      <!-- right div--> <!-- ulta-palta bcz-same code copied from index - no problem -->
                    <div class="col-md-6 col-12 mx-auto main-header-left align-items-center  ">
                        <!--about image-->
                        <figure>
                            <img class="img-fluid" src="/images/err4.jpg" alt="about-image">
                        </figure>

                        <p>Welcome to Developer Adda</p>
                        <h1>{{error_message}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
