<!-- main-header -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div-->
                    <div class="col-md-6 col-12 order-md-1 order-2 main-header-left">
                        <p>Welcome to weather app</p>
                        <h1>Get the Latest <span class="text-color"> Weather</span> Info Of Your City</h1>
                        <a href="/weather"><button>Check now</button></a>
                    </div>
                     <!-- right div-->
                    <div class="col-md-6 col-12 order-md-2 order-1 main-header-right align-items-center">
                        <!-- carousel-->
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" >
                            <div class="carousel-inner"  data-interval="3000"> 
                              <div class="carousel-item active" >
                                <img class=" w-100 img-fluid" src="images/img1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item" data-interval="3000">
                                <img class=" w-100 img-fluid" src="images/img2.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item" data-interval="3000">
                                <img class=" w-100 img-fluid" src="images/img3.jpg" alt="Third slide">
                              </div>
                            </div>
                          </div>

                    </div>

                </div>

            </div>
        </div>
    </div>