<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!--main menu-->
    {{>main_menu}}
   

    <!-- main-header -->
    {{>main_header_index}}

    <!-- footer-->
    {{>footer}}
   
  

    
</body>
</html>